pkgbase = ruby-neatjson
	pkgdesc = Pretty, powerful, flexible JSON generation.
	pkgver = 0.10.5
	pkgrel = 1
	url = http://github.com/Phrogz/NeatJSON
	arch = any
	license = MIT
	depends = ruby
	noextract = neatjson-0.10.5.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/neatjson-0.10.5.gem
	sha256sums = 1ac432ab40c5b7ede55918fc78af996494c24b51ce3c3ea0f63f1bea11a6a172

pkgname = ruby-neatjson
