pkgbase = libtomcrypt-git
	pkgdesc = A fairly comprehensive, modular and portable cryptographic toolkit.
	pkgver = v1.18.2.r423.g01c455c3
	pkgrel = 1
	url = http://www.libtom.net
	arch = i686
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = gmp
	depends = gmp
	provides = libtomcrypt
	conflicts = libtomcrypt
	source = git+https://github.com/libtom/libtomcrypt.git
	md5sums = SKIP

pkgname = libtomcrypt-git

